body {
    background-color: rgb(113, 174, 174);
}

h1 {
    color: red;
}

h2 {
    color: green;
}

.para {
    font-size: 25px;
    color: red;
}

.para2 {
    color: blue;
    font-size: 36px;
}

#xyz {
    font-size: 25px;
    color: rgb(94, 75, 75);
}

#xyz1 {
    font-size: 35px;
    color: rgb(5, 118, 239);
}

.roundimg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 20px;
}

a {
    text-decoration: none;
}