body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(79, 132, 255);
    box-sizing: border-box;
}

header {
    margin: 50px auto;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    max-width: 800px;
    min-width: 300px;
    background-color: white;
    border: 3px solid rgb(0, 42, 255);
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
    color: black;
    font-size: 25px;
    box-shadow: 0 0 30px 2px rgb(26, 108, 238);
}

.form-group {
    margin-bottom: 30px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
}

p {
    margin-bottom: 15px;
}

span {
    font-size: medium;
}

.range-input {
    display: block;
    width: 50%;
    margin-top: 10px;
}

.text-box {
    width: 100%;
    resize: vertical;
    padding: 3px;
    margin-top: 5px;
}

.button {
    width: 250px;
    /* height: 30px; */
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(33, 114, 255);
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 0.5px rgb(0, 57, 170);
    cursor: pointer;
}